<div *ngIf="user" class="container">
  <app-top-bar [pageName]="pageName"></app-top-bar>
  <div class="pageDiv about">
    <h2>About this page</h2>
    <blockquote>
      This page is my graduation project. The goal of it is partly to learn the
      Angular framework as well as to create a light version of what I will
      create at my internship.
    </blockquote>
  </div>
</div>

<div *ngIf="!user" class="container">
  <div class="pageDiv about">
    <h2>About this page</h2>
    <blockquote>
      This page is my graduation project. The goal of it is partly to learn the
      Angular framework as well as to create a light version of what I will
      create at my internship.
    </blockquote>
  </div>
</div>
