.pageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}
.ulChecklist {
  padding: 0;
  list-style-type: none;
}
.outerBox {
  background-color: #204051;
  border: #458aaf solid 1px;
  border-radius: 10px;
  opacity: 95%;
  max-width: 75vw;
  margin: 10% 0;
  padding: 0.5rem;
  display: grid;
  justify-items: center;
}
.innerBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.doneCheckbox {
  transform: scale(2.5);
  margin-left: 1rem;
}

.done {
}

.notDone {
}

.active {
}
