<div class="container">
  <button (click)="logout()" class="logOut btn">Logout</button>
  <div *ngIf="currentChecklist" class="pageDiv checklist">
    <img
      class="logo"
      src="../../assets/checklist-384-454891.webp"
      alt="pic of a checklist"
    />
    <br />
    <table class="checklistTable">
      <tr *ngFor="let items of currentChecklist">
        <th>
          {{ items.title }}
        </th>
        <td *ngIf="items.done">Completed✅</td>
        <td *ngIf="!items.done">Not completed❌</td>

        <td *ngIf="!items.done">
          <select name="doneOrNotDone">
            <option value="notDone">Not Done</option>
            <option value="done">Done</option>
          </select>
        </td>
        <td *ngIf="items.done">
          <select name="doneOrNotDone">
            <option value="done">Done</option>
            <option value="notDone">Not Done</option>
          </select>
        </td>
        <td *ngIf="items.done">
          Signed by: {{ items.signedBy }}{{ items.signedDate }}
        </td>
        <td *ngIf="!items.done">Signed by:</td>
      </tr>
    </table>
  </div>

  <div class="pageDiv" *ngIf="!currentChecklist">
    <img
      class="logo"
      src="../../assets/checklist-384-454891.webp"
      alt="pic of a checklist"
    />
    <p>No user logged in. Login to see your checklist.</p>
    <button class="btn" (click)="goToLogin()">Login</button>
  </div>
</div>
