table,
tr,
th,
td {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
}
table {
  background-color: #fc6e51;
}

tr,
th,
td {
  background-color: #204051;
}

.comments {
  text-align: left;
}

.commentInput {
  width: 96%;
}
.editBtn {
  background-color: #204051;
  padding: 1rem;
  border: none;
}

.delete {
  display: grid;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #204051;
  border: none;
  margin: 0;
  padding: 1px;
  text-shadow: 1.5px 1.5px #204051;
  border: 1px solid #204051;
  cursor: pointer;
}
.commentBtn {
  display: grid;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #204051;
  border: none;
  margin: 0;
  padding: 1px;
  text-shadow: 1.5px 1.5px #204051;
  border: 1px solid #204051;
  cursor: pointer;
}
.deleteDiv {
  position: relative;

  text-align: center;
}

.valueSave {
  background-color: #204051;
  border: none;
  margin: 1px;
  padding: 1px;
  text-shadow: 1.5px 1.5px #204051;
  cursor: pointer;
}

.comments {
  width: 90%;
  position: relative;
}
.inputValue {
  background-color: #fc6e51;
}
.editDiv {
  display: flex;
  justify-content: center;
}

td {
  min-width: 2rem;
}
