<!-- <div *ngIf="currentChecklist" class="pageDiv">
  <img
    class="logo"
    src="../../assets/checklist-384-454891.webp"
    alt="pic of a checklist"
  />
  <ul class="ulChecklist">
    <li *ngFor="let items of currentChecklist">
      <div *ngIf="items.done" class="outerBox">
        <div class="innerBox done">
          <p>Step {{ items.id }}</p>
          <br />
          <button class="undoneBtn">Undone</button>
        </div>

        <p class="doneText">{{ items.task }}}</p>
      </div>
      <div *ngIf="items.active" class="outerBox">
        <div class="innerBox active">
          <p>Step {{ items.id }}</p>
          <button class="doneBtn">Done</button>
          <br />
        </div>

        <p class="activeText">{{ items.task }}}</p>
      </div>

      <div *ngIf="!items.done && !items.active" class="outerBox">
        <div class="innerBox notDone">
          <p>Step {{ items.id }}</p>
          <br />
        </div>
        <p>{{ items.task }}}</p>
      </div>
    </li>
  </ul>
</div>

<div class="pageDiv" *ngIf="!currentChecklist">
  <img
    class="logo"
    src="../../assets/checklist-384-454891.webp"
    alt="pic of a checklist"
  />
  <p>No user logged in. Login to see your checklist.</p>
  <button (click)="goToLogin()">Login</button>
</div> -->
