<div *ngIf="user">
  <app-top-bar [pageName]="pageName"></app-top-bar>

  <div class="pageDiv">
    <p>{{ user.name }} - {{ user.company }} - {{ month }}</p>

    <div>
      <table class="checklistTable">
        <tr>
          <th>Status</th>
          <th>Title</th>
          <th>Value</th>
          <th>Signed by</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let items of company.checklist">
          <!-- Status -->
          <td *ngIf="items.value">🟢</td>
          <td *ngIf="!items.value">🔴</td>

          <!-- Title -->
          <td>{{ items.title }}</td>

          <!-- Value -->

          <td class="deleteDiv" *ngIf="!items.isBeingEdited && items.value">
            {{ items.value }}€
            <button (click)="deleteBtn(items.id)" class="delete">❌</button>
          </td>

          <td class="editDiv" *ngIf="!items.isBeingEdited && !items.value">
            <button
              (click)="editBooBtn(items.id)"
              class="btn editBtn empty"
              role="button"
            >
              Enter Value
            </button>
          </td>

          <!-- Value During Edit-->
          <td *ngIf="items.isBeingEdited">
            <div class="editDiv">
              <form (ngSubmit)="saveEditBtn(items.id, $event.target[0].value)">
                <input class="inputValue" type="number" />
                <input
                  type="submit"
                  name="submit"
                  value="💾"
                  class="valueSave"
                />
              </form>
            </div>
          </td>

          <!-- Signed by -->
          <td *ngIf="items.value">{{ items.signedBy }}</td>
          <td *ngIf="!items.value"></td>

          <!-- Signed date -->
          <td *ngIf="items.value">{{ items.signedDate }}</td>
          <td *ngIf="!items.value"></td>
        </tr>

        <!-- Comments-->
        <tr>
          <td class="comments" *ngIf="!company.commentsBeingEdited" colspan="5">
            Comments: {{ company.comments }}
            <button class="commentBtn" (click)="commentBooFlip()">✏️</button>
          </td>
          <td class="comments" *ngIf="company.commentsBeingEdited" colspan="5">
            <form (ngSubmit)="commentBooSave($event.target[0].value)">
              <input
                placeholder="Comments"
                type="text"
                class="commentInput"
                value="{{ company.comments }}"
              />
              <input class="commentBtn" type="submit" value="💾" />
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div *ngIf="!user">
  <app-not-signed-in></app-not-signed-in>
</div>

<!-- Fixa så man kan editera checklistan -->
