table,
tr,
th,
td {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
}
table {
  background-color: #fc6e51;
}

tr,
th,
td {
  background-color: #204051;
}

.comments {
  text-align: left;
}
.editBtn {
  background-color: #204051;
  padding: 1rem;
  border: none;
}

.comments {
  width: 90%;
}
